<section class="inner">
    <p>
        Enter your email address to follow my blog and receive notifications
        of new posts by email.
    </p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form
            action="{{ site.mailchimp_url }}"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate gh-subscribe-form"
            target="_blank"
            novalidate
        >
            <label for="mce-EMAIL" class="screen-reader-text"
                >Email Address</label
            >
            <input
                type="email"
                value=""
                name="EMAIL"
                class="required email subscribe-email"
                id="mce-EMAIL"
                placeholder="Your email address"
            /><br />
            <input
                type="submit"
                value="Subscribe"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button"
            />
        </form>
    </div>
    <!--End mc_embed_signup-->
</section>
<!-- .widget -->
