<section class="newsletter-box inner">
    <div class="inner">
        <h2 class="newsletter-box-title"><i class="far fa-envelope"></i>&nbsp;Follow my blog via mail</h2>
        <p>Enter your email address to follow my blog and receive notifications of new posts by email.</p>
        <!-- Begin MailChimp Signup Form -->
        <div>
            <form action="{{ site.mailchimp_url }}" method="post" name="mc-embedded-subscribe-form"
                class="validate gh-subscribe-form" target="_blank" novalidate>
                <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
                <input type="email" value="" name="EMAIL" class="required email subscribe-email"
                    placeholder="Your email address"><br />
                <input type="submit" value="Subscribe" name="subscribe" class="button">
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
</section><!-- .widget -->
