<h2 class="read-next-title">Related Posts</h2>
<section class="related-posts">
    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
    {% if post.url != page.url %}
    {% if page.tags contains tag %}
    {% assign sameTagCount = sameTagCount | plus: 1 %}
    {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
    {% assign commonTags = commonTags | append: tagmarkup %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    <a class="related-post" href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ post.image | prepend: site.thumbs_folder | absolute_url }}" alt="{{ page.title }}">
        <h5>{{ post.title }}</h5>
    </a>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
    {% break %}
    {% endif %}
    {% endif %}
    {% endfor %}
</section>

<!--

{% if page.previous.url %}
<article class="post">
    <header class="post-header">
        <div class="post-meta">
            <time class="published" datetime="{{page.previous.date | date: '%B %-d, %Y'}}">{{page.previous.date
                | date: "%B %-d, %Y"}}</time>
        </div>
        <h3 class="post-title"><a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a></h3>
        <p class="post-tags">
            {% if page.previous.tags.size > 0 %}
            {% for tag in page.previous.tags %}
            {% if forloop.index == page.previous.tags.size %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | capitalize
                }}</a>
            {% else %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | capitalize
                }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </p>
    </header>
    {% if page.previous.image %}
    <a href="{{ site.baseurl }}{{page.previous.url}}" class="post-thumbnail">
        <img src="{{ page.previous.image | prepend: site.thumbs_folder | absolute_url }}"
            alt="{{page.previous.title}}" />
    </a>
    {% endif %}
</article>
{% endif %}
{% if page.next.url %}
<article class="post">
    <header class="post-header">
        <div class="post-meta">
            <time class="published" datetime="{{page.next.date | date: '%B %-d, %Y'}}">{{page.next.date |
                date: "%B %-d, %Y"}}</time>
        </div>
        <h3 class="post-title"><a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></h3>
        <p class="post-tags">
            {% if page.next.tags.size > 0 %}
            {% for tag in page.next.tags %}
            {% if forloop.index == page.next.tags.size %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | capitalize
                }}</a>
            {% else %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | capitalize
                }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </p>
    </header>
    {% if page.next.image %}
    <a href="{{ site.baseurl }}{{page.next.url}}" class="post-thumbnail">
        <img src="{{ page.next.image | prepend: site.thumbs_folder | absolute_url }}" alt="{{page.next.title}}" />
    </a>
    {% endif %}
</article>
{% endif %}

-->
