---
layout: default
disqus: false
post_class: post-template
---

<div id="content" class="site-content fadeInDown">
    <main id="main" class="site-main outer">
        <article class="post-full inner">
            <header class="post-header">
                <div class="post-meta"><time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d,%Y" }}</time></div>
                <h1 class="posttitle">{{ page.title }}</h1>
                <div class="post-meta">
                    {% if page.tags.size > 0 %}
                    <span class="post-tags">
                        <span>in</span>
                        {% for tag in page.tags %} {% if forloop.index == page.tags.size %}
                        <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | camelcase }}</a>
                        {% else %}
                        <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | camelcase }}</a>
                        {% endif %}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div><!-- .post-meta -->
            </header><!-- .post-header -->
            {% if page.image %}
            <div class="post-thumbnail">
                <img class="featured-image img-fluid" src="{{ page.image | prepend: site.image_folder | absolute_url }}"
                    alt="{{ page.title }}">
                    <div class="featured-image-ref">Photo by <a href="https://unsplash.com/@{{page.unsplash_user_ref}}" class="silent" target="_blank">{{page.unsplash_user_name}}</a></div>
                </div>
            {% endif %}
            <div class="post-content">
                {{content}}
            </div>
            <footer class="post-footer">
                <div class="post-contribute">
                    Found a bug? You can <a target="_blank" href="{{ site.github.repo }}/tree/master/{{ page.relative_path }}">edit</a> this post or file an <a target="_blank" href="{{ site.github.repo }}/issues/new">issue</a> on GitHub
                </div>
                <div class="post-share">
                    <span class="post-share-title">Share:</span>
                    <a target="_blank" href="https://twitter.com/share?text={{ page.title | url_encode }}&amp;url={{ site.url }}{{ page.url | remove_first: '/' }}">Twitter</a>
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | remove_first: '/' }}">Facebook</a>
                    
                </div>
                <!-- .share-post -->
            </footer>
            <!--
            <div class="author-box">
                <div class="author-avatar"><img src="{{ site.baseurl }}/assets/images/{{ site.author.image }}" alt="{{ site.author.name }}'s Picture"
                        class="avatar"></div>
                <div class="author-details">
                    <h2 class="author-title">About {{ site.author.name }}</h2>
                    <p class="author-description">{{ site.author.bio }} <a href="https://twitter.com/{{site.social.twitter}}"
                            target="_blank">Follow him on Twitter</a> via @ThorstenHans.</p>
                </div>
            </div>-->
            {% include disqus.html %}
        </article>
       
        <section class="read-next inner">
            <h2 class="read-next-title">Related Posts</h2>
            {% include related-posts.html%}
        </section><!-- .read-next -->
        {% if site.mailchimp_url %}
        {% include newsletter-box.html %}
        {% endif %}
    </main><!-- .site-main -->
</div><!-- .site-content -->
